# .gitignore 파일은 커밋하지 않을 폴더를 설정합니다.

# 1. Dataset
# 데이터 파일이 들어가는 Dataset폴더는 푸시하지 않습니다.
# 너무 데이터가 크면 푸시되지 않습니다.
/Dataset

# 2. submit
# 제출파일이 들어가는 submit 폴더는 저는 푸시하지 않습니다.
# 용량이 작으면 하셔도 무방합니다.
/submit

# 3. git.ipynb
# 커맨드라인을 사용하기 위한 파일은 푸시하지 않습니다.
git.ipynb

# 4. venv
# 시현) 개인 가상환경은 깃으로 관리 x
/venv
.venv

# 5. Pycharm
# 시현) 파이참 프로젝트 설정 폴더 (참사방지용)
.idea/